@import url('https://fonts.googleapis.com/css?family=Oxygen');
body {
  margin: 0;
  padding: 0;
  font-family: 'Oxygen', sans-serif;
}

#app {
  width: 100%;
}

#header {
  background: black;
  color: white;
  padding: 0em 5em;
  border-bottom: 6px solid #3e3e3e0d;
  z-index: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
}

h1, h2, h3, h4 {
  text-align: center
}

#header h2 {
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

#header h3 {
  margin: 0;
}

#header ul {
  padding: 0;
  list-style: none;
}

#header li {
  flex: 1;
  padding: 5px 10px;
  transition: all 0.3s linear;
}

#header a {
  text-decoration: none;
  color: white;
  line-height: 2;
  letter-spacing: 0.3px;
}

.intro {
  display: flex;
  align-self: center;
  margin: 0 auto;
  width: 80%;
}

.intro a {
  color: black;
}

.intro h4 {
  text-align: center
}

.iframeDiv {
  height: calc(100% - 100px);
  width: 100%;
}

iframe {
  border: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.playground {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap
}

.playgroundCode {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em;
}