.container {
    position: relative;
    background: rgba(0, 0, 0, .1);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    touch-action: none; /* to disable scroll on div for mobile */
  }
  
  .container:focus {
    outline: none;
  }