.container {
    position: relative;
    background: rgba(0, 0, 0, .1);
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    touch-action: none; /* to disable scroll on div for mobile */
  }

  .container img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }
  
  .container:focus {
    outline: none;
  }