<ReactCoverCarousel
    width={800}
    height={400}
    displayQuantityOfSide={3}
    navigation={false}
    enableHeading={false}
    enableScroll={true}
    activeImageIndex={0}
    activeImageStyle={{
      margin: '5em',
    }}
    activeFigureScale={1.5}
    otherFigureScale={0.8}
    otherFigureRotation={40}
    mediaQueries={{}}
    infiniteScroll={true}
    transitionSpeed={700}
    maxPixelWidthForMobileMediaQuery={480}
>
    {images}
</ReactCoverCarousel>