<StyleRoot>
    <ReactCoverCarousel
        mediaQueries={{
        backgroundColor: 'white',
        width: '100vw',
        '@media (max-width: 900px)': {
            height: '600px',
        },
        '@media (min-width: 900px)': {
            height: '800px',
        },
        }}
        displayQuantityOfSide={2}
        activeImageStyle={{
            margin: '10em',
        }}
        infiniteScroll={true}
        navigation={true}
        enableHeading={false}
        enableScroll={false}
        activeImageIndex={3}
        otherFigureRotation={0}
        activeFigureScale={2}
        otherFigureScale={0.9}
        autoFocus={true}
        PreviousButton={
            <FontAwesome style={{color: 'black', marginRight: '3em'}} name="angle-double-left" size="2x" />
        }
        NextButton={
            <FontAwesome style={{color: 'black', marginLeft: '3em'}} name="angle-double-right" size="2x" />
        }
    >
        {images}
    </ReactCoverCarousel>
</StyleRoot>