<StyleRoot>
    <ReactCoverCarousel
        mediaQueries={{
        backgroundColor: 'white',
        '@media (max-width: 900px)': {
            height: '600px',
            width: '600px',
        },
        '@media (min-width: 900px)': {
            height: '800px',
        },
        }}
        displayQuantityOfSide={2}
        activeImageStyle={{
            margin: '10em',
        }}
        infiniteScroll={true}
        navigation={true}
        enableHeading={false}
        enableScroll={false}
        activeImageIndex={3}
        otherFigureRotation={0}
        currentFigureScale={2}
        otherFigureScale={0.9}
    >
        {images}
    </ReactCoverCarousel>
</StyleRoot>