<StyleRoot>
    <ReactCoverCarousel
        mediaQueries={{
        backgroundColor: 'white',
        '@media (max-width: 900px)': {
            height: '600px',
            width: '600px',
        },
        '@media (min-width: 900px)': {
            height: '700px',
            width: '1300px',
        },
        }}
        displayQuantityOfSide={2}
        infiniteScroll={true}
        navigation={true}
        enableHeading={false}
        activeImageIndex={0}
        otherFigureRotation={0}
        currentFigureScale={2}
        otherFigureScale={0.9}
    >
        {images}
    </ReactCoverCarousel>
</StyleRoot>